body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid rgb(182, 0, 0);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f8b4b4;
}

th:first-child, td:first-child {
    text-align: center;
}

